body {
    background: #1999;
    background-image: url('https://assets.uninove.br/Cursos/Mestrado-e-Doutorado/Mestrado-e-Doutorado-em-Inform%C3%A1tica-e-Gest%C3%A3o-do-Conhecimento-highlight.JPG?mtime=20201119075637&focal=none');
    background-size: auto 100vh;
    font-family: arial;
    height: 100vh;
}

.menu {
    background-color: white;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}